<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.url">jdbc:postgresql://localhost/jotter</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">inna</property>
        <property name="connection.password">201890J</property>
        <mapping class="ru.test.jotter.model.User"/>
        <!-- <mapping class="ru.javastudy.hibernate.dao.ContactHobbyDetailEntity"/>
        <mapping class="ru.javastudy.hibernate.dao.ContactTelDetailEntity"/>
        <mapping class="ru.javastudy.hibernate.dao.HobbyEntity"/> -->
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>